@model IEnumerable<Hotel.Models.Users>
@{
    ViewData["Title"] = "Панель администратора";
}
<h2>Пользователи</h2>
<form asp-controller="Home" asp-action="Admin" method="Post" id="search" class="d-inline">
    <input type="text" name="column" />
    <select name="field" class="filter">
        <option value="name">ФИО</option>
        <option value="email">email</option>
    </select>
    <input type="submit" value="Найти" class="btn btn-success w-30 p-1" />
</form>
<div id="testTableContainer">@Html.Partial("_Admin", Model)</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Admin", "Home")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    $('#testTableContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>