@model IEnumerable<Hotel.Models.Rooms>
@{
    ViewData["Title"] = "Номера";
}
<h2>Номера</h2>
<form asp-controller="Home" asp-action="Rooms" method="Post" id="search" class="d-inline">
    <input type="text" name="column" />
    <select name="field" class="filter">
        <option value="id">номер</option>
        <option value="type">тип</option>
        <option value="count">количество гостей</option>
        <option value="status">статус</option>
        <option value="price">цена</option>
        <option value="floor">этаж</option>
    </select>
    <input type="submit" value="Найти" class="btn btn-success w-30 p-1" />
</form>
<form asp-controller="Home" asp-action="InsertRoom" method="Get" class="d-inline">
    <input type="submit" value="Добавить" class="btn btn-success w-30 p-1" />
</form>
<div id="testTableContainer">@Html.Partial("_Rooms", Model)</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Rooms", "Home")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    $('#testTableContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>